#img {background-color:aqua;}
#HotelExpenses {text-align: center;}
h1, p {color:crimson}
table, tr, th {  border: 1px solid #ddd;
    text-align: justify;}
body {background-image: url ("travelpic.jpg"); }